@{
    ViewBag.Title = "About Us";
}

<h2>About Us</h2>
    <p>
MVCControlsToolkit is developed by Francesco Abbruzzese 
<br />
<a href="http://www.dotnet-programming.com/">http://www.dotnet-programming.com/</a>
<br />
Copyright (c) 2010 Francesco Abbruzzese, 
<br />
<a href="mailto:francesco@dotnet-programming.com">francesco@dotnet-programming.com</a>

 </p>

